.Landing{
    grid-template-columns: 1fr 3fr .5fr 5fr;
    grid-auto-rows: minmax(50px, auto);
    /* background: rgba(255, 0, 0, 0.322); */
    grid-gap: 1em;
    background: 
    linear-gradient(
      rgba(0, 0, 0, 0.25), 
      rgba(0, 0, 0, 0.25)
    ),
    url('../images/piggy.jpeg');
    background-repeat: no-repeat; 
    background-size: 50% 100%;
    background-position: right top;
    height: 100vh;
}

/* .Landing div{
    background: rgba(0, 0, 0, 0.089);
} */

.center{
    grid-column: 2/3;
}


.header{
    font-weight: 700;
    font-size: 3vmax;
}

/* .subject{

} */

.subject-2{
    margin: 0 0;
    opacity: 60%;
}

.subject-2 div{
    align-items: center;
}

.subject-2-icon{
    margin: 1vmin 1vmin;
    width: 3vmin;
}

@media only screen and (max-width: 1000px) {
    .Landing{
        grid-template-columns: 1fr 3fr 1fr;
        background: none;
    }
  }

  /* @media only screen and (max-width: 450px) {
    .logo-hider-desktop{
        grid-column: 1/1;
      }
  } */