.Landing{
    grid-template-columns: 1fr 3fr 1fr 5fr;
    grid-auto-rows: minmax(10px, auto);
    grid-gap: 1em;

    background: 
    linear-gradient(
      rgba(0, 0, 0, 0.25), 
      rgba(0, 0, 0, 0.25)
    ),
    url('../images/piggy.jpeg')/*,
    height() */; 
    background-repeat: no-repeat; 
    background-size: 50vw 100vh;
    background-position: right top;
    height: 115vh;
    
}

.center{
    grid-column: 2/3;
}

.header{
    font-weight: 700;
    font-size: 3vmax;
}

.false{
    opacity: 40%;
}

.subject-2{
    opacity: 60%;
}

.subject-2 div{
    align-items: center;
}

.subject-2-icon{
    margin: 1vmin 1vmin;
    width: 3vmin;
}

@media only screen and (max-width: 1050px) {
    .Landing{
        grid-template-columns: 1fr 3fr 1fr;
        background: none;
    }
  }