.transactions{
    align-items: center;
}

.transactions div{
    margin: .4vh;
}

.transaction{
    justify-content: space-between;
    margin: 1.5vh;
}


.info{
    opacity: 50%;
    font-size: 80%;
}

.filters{
    justify-content: space-around;
}

.filter{
    background: #70707027;
    border-radius: 15px;
    width: 15vw;
    height: 3vh;
    text-align: center;
    opacity: 50%;
}

.filter-on{
    opacity: 100%;
}

@media only screen and (min-width: 1050px) {
    .filter{
      width: 5vw;
    }
    
  }